<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whh.userservice.Mapper.UserMapper">
    <insert id="registerUser" parameterType="map">
        insert into users(username,password,email,phone,gmt_create) values(#{username},#{password},#{email},#{phone},#{gmtCreate})
    </insert>
    <select id="findByUsername" parameterType="string" resultType="whh.userservice.Entity.User">
        select * from users where username=#{username}
    </select>
    <select id="findByUsernameAndPwd" resultType="whh.userservice.Entity.User">
        select * from users where username=#{username} and password=#{password}
    </select>
    <select id="findById" parameterType="long" resultType="whh.userservice.Entity.User">
        select user_id , username,password,email,phone,gmt_create from users where user_id=#{userId}
    </select>
    <select id="findAllUsers" resultType="whh.userservice.Entity.User">
        select * from users
    </select>
    <select id="findUsers" resultType="whh.userservice.Entity.User" parameterType="List">
        select * from users
        <where>
            <if test="userIds != null and userIds.size() > 0">
                AND user_id IN
                <foreach item="id" collection="userIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>


</mapper>