<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="whh.userservice.Mapper.UserMapper">
    <insert id="registerUser" parameterType="map">
        insert into users(username,password,email,phone,gmt_create) values(#{name},#{password},#{email},#{phone},#{gmtCreate})
    </insert>
    <select id="findByUsername" parameterType="string" resultType="whh.userservice.Entity.User">
        select * from users where username=#{name}
    </select>
    <select id="findByUsernameAndPwd" resultType="whh.userservice.Entity.User">
        select * from users where username=#{name} and password=#{password}
    </select>

</mapper>