<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="whh.permissionservice.Mapper.RoleMapper">

    <resultMap id="roleMap" type="whh.permissionservice.Entity.Role">
        <id property="roleId" column="role_id"/>
        <result property="roleCode" column="role_code"/>
    </resultMap>

    <!-- 根据角色码查询 -->
    <select id="findByRoleCode" resultMap="roleMap">
        SELECT role_id, role_code
        FROM roles
        WHERE role_code = #{roleCode}
    </select>

    <!-- 根据角色ID查询 -->
    <select id="findById" resultMap="roleMap">
        SELECT role_id, role_code
        FROM roles
        WHERE role_id = #{roleId}
    </select>
</mapper>